@model Project2_MinhHungKhanh.Models.MhkAddress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MhkAddress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkUser.MhkUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MhkAddressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
