@model Project2_MinhHungKhanh.Models.MhkOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MhkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MhkOrderId" />
            <div class="form-group">
                <label asp-for="MhkUserId" class="control-label"></label>
                <select asp-for="MhkUserId" class="form-control" asp-items="ViewBag.MhkUserId"></select>
                <span asp-validation-for="MhkUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MhkOrderDate" class="control-label"></label>
                <input asp-for="MhkOrderDate" class="form-control" />
                <span asp-validation-for="MhkOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MhkStatus" class="control-label"></label>
                <input asp-for="MhkStatus" class="form-control" />
                <span asp-validation-for="MhkStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

