@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <p>Ma Sinh Vien :2310900067</p>
    <p>Ho Ten :Ha Quang Minh</p>
    <p>Email :haquangminhk23cnt3@gmail.com</p>
    <p>Dien thoai :0846409694</p>
    <p>Ngay sinh :02/06/2005</p>
    <p>Lop :K23CNT3</p>
</div>
<p>Use this page to detail your site's privacy policy.</p>
